    <div class="welcome">
      <h1>Join a Book Club!</h1>
    </div>
    <div class="row">
      <div class="col-xl-12 col-m-6">
        <div class="card" id="homepageParagraph" style= "background-color: #fcf8f3;">
           <p>Books have the ability to take you on a journey. Why not share that journey with other readers? Browse below for a book club created by fellow readers who share the same literary passion as yourself.</p>
           <p>Or if you'd rather, start your own book club and gather your own fellowship of readers. </p>
       </div>
    </div>
</div>

{{#if clubs.length}}
  <div class ="card reviewCard" style = "background-color:#fcf8f3; color: #65625e; width: 100%;">
      <h3>Current Clubs:</h3>
{{#each clubs as |club|}}
      <div>
        <div class= "reviewContainer" style = "background-color: white; color: #65625e; border-radius: 1rem; margin: 20px; width: auto; border-style:solid; border-color:#65625e;">
          <div class = "reviewTitle">
        <h2>{{club.name}}</h2>
          </div>
          <div>
        <p>{{club.description}}</p>
          </div>
          <div>
        <p>Created by {{user.name}}</p>

          </div>
              <div>
            <button type="submit" class="btn btn-primary" style = "background-color: #65625e; width: 50px; ">Join</button>
            </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

 {{!-- {{#if comments.length}}
    <h3>Current Comments:</h3>
    {{#each comments as |comment|}}
    <div class="card">
      <div class="card-body">
        <h6>{{comment.comment_text}}</h6>
        {{!-- <p>Created by {{user.name}} on {{format_date date_created}}</p> --}}
      {{!-- </div>
    </div> --}}
    {{!-- {{/each}}
    {{/if}} --}}
     {{!-- {{#if logged_in}} --}}
  {{!-- <div> 
    <div>
      <h3>Would you like to add a comment?</h3>
        <form class="new-comment-form form">
          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-input" id="comment_text" name="comment"></textarea>
            <input type='hidden' value={{id}} id="projectId">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary margin10" style = "background-color: #65625e;">Add your Comment</button>
          </div>
        </form>
    </div>
  </div> --}}
      
  {{!-- {{else}} --}}
  {{!-- <a class="btn btn-primary" href="/login" style = "background-color: #65625e;">Login to Leave a Comment</a> --}}
  {{!-- {{/if}} --}}

{{#if logged_in}}
<div class="col">
      <div class ="card reviewCard" style = "background-color:#fcf8f3; color: #65625e;">
        <form id="blog-form">
          <h2> Create a Book Club: </h2>
          <div class="form-group">
            <textarea id="clubName" name="review" placeholder = "Club Name" cols="40"></textarea>
          </div>
          <div class="form-group">
            <textarea id="clubDescription" name="review" placeholder = "Club Description" cols="40" rows="10"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    {{else}}
  <a class="btn btn-primary" href="/login" style = "background-color: #65625e; margin: 20px">Login to start a book club</a>
  {{/if}}

<script src="/js/club.js"></script>
{{!-- <script src="/js/comment.js"></script> --}}