{{!-- <!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}} --}}

    <div class="row">
        <div class="col-sm">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Card Text</p>
                <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
        <div class="col-sm">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Card Text</p>
                <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Card Text</p>
                <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Card Text</p>
                <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
        <div class="col-sm">
          <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card Text</p>
              <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
            </div>
          </div>
        </div>
      </div>