{{!-- <!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}} --}}

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.CUSEAlmFfJN65OYFXNL_bAAAAA%26pid%3DApi&f=1" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">The Lord of the Rings</h5>
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text">"Must Read! My favorite classic..."</p>
                <a href="/review/9780547951942" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
        <div class="col-sm-3">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="https://joshuawinn.com/wp-content/uploads/2020/03/eloquent_javascript_book_cover_b-775x1024.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Eloquent Javascript</h5>
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text">"Such a great resource for some learning Javascript..."</p>
                <a href="/review/9781593279509" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781501112317/in-a-dark-dark-wood-9781501112317_hr.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">In A Dark, Dark Wood</h5>
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text">"Such a thrilling mystery, will leave you constantly turning the page. Cannot put this book down..."</p>
                <a href="review/9781501112324" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="https://cdn.imagecomics.com/assets/i/releases/458112/the-walking-dead-compendium-four_638dd6105e.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">The Walking Dead Compendium 4</h5>
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text">"I can't get enough of this story. The art style and the characters just..."</p>
                <a href="/review/9781607065968" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="https://prodimage.images-bn.com/lf?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&set=key%5Bresolve.width%5D,value%5B550%5D&set=key%5Bresolve.height%5D,value%5B10000%5D&set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&product=path%5B/pimages/9780735211292_p0_v10%5D&call=url%5Bfile:common/decodeProduct.chain%5D" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones</h5>
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text">"So encouraging to read, and has enriched..."</p>
                <a href="/review/9780735211292" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="https://prodimage.images-bn.com/lf?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&set=key%5Bresolve.width%5D,value%5B550%5D&set=key%5Bresolve.height%5D,value%5B10000%5D&set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&product=path%5B/pimages/9780735219106_p0_v1%5D&call=url%5Bfile:common/decodeProduct.chain%5D" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Where the Crawdads Sing</h5>
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text">"My favorite rainy day read with a hot coffee and the rain..."</p>
                <a href="review/9780735219106" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="https://prodimage.images-bn.com/lf?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&set=key%5Bresolve.width%5D,value%5B550%5D&set=key%5Bresolve.height%5D,value%5B10000%5D&set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&product=path%5B/pimages/9780143127741_p0_v4%5D&call=url%5Bfile:common/decodeProduct.chain%5D" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">The Body Keeps the Score: Brain, Mind, and Body in the Healing of Trauma</h5>
                <p>⭐⭐⭐⭐⭐</p>
                <p class="card-text">"So much solid, evidence based research on the effects of trauma on ones' physical body. Important..."</p>
                <a href="/review/9780143127741" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
        <div class="col-sm-3">
          <div class="card" style = "background-color: #fcf8f3;">
            <img src="https://i.pinimg.com/736x/9c/23/00/9c23006ea9d134573f757bdb70c70719--b-baker-street-sherlock-holmes.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Sherlock Holmes Complete Collection</h5>
              <p>⭐⭐⭐⭐⭐</p>
              <p class="card-text">"My childhood favorite, and in such a beautiful format. I can't wait to read this to my kids..."</p>
              <a href="/review/9789386410016" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
            </div>
          </div>
        </div>
      </div>