<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

  {{#if reviews.length}}
  <div class="col-md-6 project-list" style = "background-color:#fcf8f3; color: #65625e; border-radius: 1rem; margin: 20px;">
    <h3>Current Reviews:</h3>

    {{#each reviews as |review|}}
    <div style = "background-color:white; color: #65625e; border-radius: 1rem; margin: 20px; text-align:center;">
      <div style = "background-color:white; color: #65625e; border-radius: 1rem;">
        <h5 style = "background-color:white; color: #65625e; text-align:center"><a class = "reviewLink" href="/review/{{isbn}}">{{review.title}}</a></h5>
        <p style= "text-align:center">{{review.description}}</p>
      </div>
      {{!-- <div class="col-md-12">
        <button class="btn btn-sm btn-danger" data-id="{{isbn}}" id= {{isbn}} style = "background-color: #65625e; text-align: center;">Delete</button>
      </div> --}}
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>